In [1]:
import pandas as pd

In [2]:
matches = pd.read_csv('matches.csv', index_col=0)

In [3]:
matches.head()

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
0,2022-08-05,20:00,Premier League,Matchweek 1,Fri,Away,W,2.0,0.0,Crystal Palace,...,Match Report,NaN,10.0,2.0,14.6,1.0,0.0,0.0,2022,Arsenal
1,2022-08-13,15:00,Premier League,Matchweek 2,Sat,Home,W,4.0,2.0,Leicester City,...,Match Report,NaN,19.0,7.0,13.0,0.0,0.0,0.0,2022,Arsenal
2,2022-08-20,17:30,Premier League,Matchweek 3,Sat,Away,W,3.0,0.0,Bournemouth,...,Match Report,NaN,14.0,6.0,14.8,0.0,0.0,0.0,2022,Arsenal
3,2022-08-27,17:30,Premier League,Matchweek 4,Sat,Home,W,2.0,1.0,Fulham,...,Match Report,NaN,22.0,8.0,15.5,1.0,0.0,0.0,2022,Arsenal
4,2022-08-31,19:30,Premier League,Matchweek 5,Wed,Home,W,2.0,1.0,Aston Villa,...,Match Report,NaN,22.0,8.0,16.3,1.0,0.0,0.0,2022,Arsenal

In [4]:
matches.shape

(1778, 27)

In [5]:
18 * 34 * 2

1224

In [6]:
matches['team'].value_counts()

Aston Villa                 90
Newcastle United            90
Tottenham Hotspur           90
Wolverhampton Wanderers     90
Southampton                 90
Everton                     90
West Ham United             90
Leicester City              90
Leeds United                89
Manchester City             89
Arsenal                     89
Crystal Palace              89
Liverpool                   89
Chelsea                     89
Brighton and Hove Albion    89
Manchester United           89
Burnley                     76
Brentford                   52
Fulham                      52
Watford                     38
Norwich City                38
West Bromwich Albion        38
Sheffield United            38
Bournemouth                 14
Name: team, dtype: int64

In [7]:
matches['round'].value_counts()

Matchweek 1     59
Matchweek 9     59
Matchweek 2     59
Matchweek 14    59
Matchweek 13    59
Matchweek 11    59
Matchweek 10    59
Matchweek 15    59
Matchweek 3     59
Matchweek 5     59
Matchweek 4     59
Matchweek 6     59
Matchweek 12    57
Matchweek 8     53
Matchweek 29    40
Matchweek 31    40
Matchweek 32    40
Matchweek 30    40
Matchweek 36    40
Matchweek 34    40
Matchweek 35    40
Matchweek 33    40
Matchweek 37    40
Matchweek 27    40
Matchweek 28    40
Matchweek 20    40
Matchweek 26    40
Matchweek 25    40
Matchweek 24    40
Matchweek 23    40
Matchweek 22    40
Matchweek 21    40
Matchweek 19    40
Matchweek 18    40
Matchweek 17    40
Matchweek 16    40
Matchweek 7     40
Matchweek 38    40
Name: round, dtype: int64

## Cleaning

In [8]:
matches.dtypes

date             object
time             object
comp             object
round            object
day              object
venue            object
result           object
gf              float64
ga              float64
opponent         object
xg              float64
xga             float64
poss            float64
attendance      float64
captain          object
formation        object
referee          object
match report     object
notes           float64
sh              float64
sot             float64
dist            float64
fk              float64
pk              float64
pkatt           float64
season            int64
team             object
dtype: object

In [9]:
matches['date'] = pd.to_datetime(matches['date'])

In [10]:
matches.dtypes

date            datetime64[ns]
time                    object
comp                    object
round                   object
day                     object
venue                   object
result                  object
gf                     float64
ga                     float64
opponent                object
xg                     float64
xga                    float64
poss                   float64
attendance             float64
captain                 object
formation               object
referee                 object
match report            object
notes                  float64
sh                     float64
sot                    float64
dist                   float64
fk                     float64
pk                     float64
pkatt                  float64
season                   int64
team                    object
dtype: object

venue_code converts 'home' or 'away' into numerical column

In [11]:
matches['venue_code'] = matches['venue'].astype('category').cat.codes

In [12]:
matches['opp_code'] = matches['opponent'].astype('category').cat.codes

In [13]:
matches['hour'] = matches['time'].str.replace(':.+','', regex=True).astype('int')

In [14]:
matches['day_code'] = matches['date'].dt.dayofweek

In [15]:
matches['target'] = (matches['result'] == 'W').astype('int')

In [16]:
matches

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,fk,pk,pkatt,season,team,venue_code,opp_code,hour,day_code,target
0,2022-08-05,20:00,Premier League,Matchweek 1,Fri,Away,W,2.0,0.0,Crystal Palace,...,1.0,0.0,0.0,2022,Arsenal,0,7,20,4,1
1,2022-08-13,15:00,Premier League,Matchweek 2,Sat,Home,W,4.0,2.0,Leicester City,...,0.0,0.0,0.0,2022,Arsenal,1,11,15,5,1
2,2022-08-20,17:30,Premier League,Matchweek 3,Sat,Away,W,3.0,0.0,Bournemouth,...,0.0,0.0,0.0,2022,Arsenal,0,2,17,5,1
3,2022-08-27,17:30,Premier League,Matchweek 4,Sat,Home,W,2.0,1.0,Fulham,...,1.0,0.0,0.0,2022,Arsenal,1,9,17,5,1
4,2022-08-31,19:30,Premier League,Matchweek 5,Wed,Home,W,2.0,1.0,Aston Villa,...,1.0,0.0,0.0,2022,Arsenal,1,1,19,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,2021-05-02,19:15,Premier League,Matchweek 34,Sun,Away,L,0.0,4.0,Tottenham,...,0.0,0.0,0.0,2021,Sheffield United,0,20,19,6,0
39,2021-05-08,15:00,Premier League,Matchweek 35,Sat,Home,L,0.0,2.0,Crystal Palace,...,1.0,0.0,0.0,2021,Sheffield United,1,7,15,5,0
40,2021-05-16,19:00,Premier League,Matchweek 36,Sun,Away,W,1.0,0.0,Everton,...,0.0,0.0,0.0,2021,Sheffield United,0,8,19,6,1
41,2021-05-19,18:00,Premier League,Matchweek 37,Wed,Away,L,0.0,1.0,Newcastle Utd,...,1.0,0.0,0.0,2021,Sheffield United,0,15,18,2,0
42,2021-05-23,16:00,Premier League,Matchweek 38,Sun,Home,W,1.0,0.0,Burnley,...,0.0,0.0,0.0,2021,Sheffield United,1,5,16,6,1

## Model

In [17]:
from sklearn.ensemble import RandomForestClassifier

In [18]:
rf = RandomForestClassifier(n_estimators=50, min_samples_split=10, random_state=1)

In [19]:
train = matches[matches['date'] < '2022-01-01']

In [20]:
test = matches[matches['date'] > '2022-01-01']

In [21]:
predictors = ['venue_code', 'opp_code', 'hour', 'day_code']

In [22]:
rf.fit(train[predictors], train['target'])

RandomForestClassifier(min_samples_split=10, n_estimators=50, random_state=1)

In [23]:
preds = rf.predict(test[predictors])

In [24]:
from sklearn.metrics import accuracy_score

In [25]:
acc = accuracy_score(test['target'], preds)

In [26]:
acc

0.6191950464396285

In [27]:
combined = pd.DataFrame(dict(actual=test['target'], prediction=preds))

In [28]:
pd.crosstab(index=combined['actual'], columns=combined['prediction'])

prediction    0   1
actual
0           312  79
1           167  88

In [29]:
from sklearn.metrics import precision_score

In [30]:
precision_score(test['target'], preds)

0.5269461077844312

In [31]:
grouped_matches = matches.groupby('team')

In [32]:
group = grouped_matches.get_group("Manchester City").sort_values("date")

In [33]:
def rolling_averages(group, cols, new_cols):
    group = group.sort_values("date")
    rolling_stats = group[cols].rolling(3, closed='left').mean()
    group[new_cols] = rolling_stats
    group = group.dropna(subset=new_cols)
    return group

In [34]:
cols = ['gf', 'ga', 'sh', 'sot', 'dist', 'fk', 'pk', 'pkatt']
new_cols = [f"{c}_rolling" for c in cols]

In [35]:
rolling_averages(group, cols, new_cols)

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,day_code,target,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling
5,2020-10-17,17:30,Premier League,Matchweek 5,Sat,Home,W,1.0,0.0,Arsenal,...,5,1,2.000000,2.333333,17.333333,4.666667,19.700000,1.333333,0.333333,0.333333
7,2020-10-24,12:30,Premier League,Matchweek 6,Sat,Away,D,1.0,1.0,West Ham,...,5,0,1.333333,2.000000,17.333333,3.666667,18.566667,0.666667,0.000000,0.000000
9,2020-10-31,12:30,Premier League,Matchweek 7,Sat,Away,W,1.0,0.0,Sheffield Utd,...,5,1,1.000000,0.666667,16.666667,4.333333,18.933333,0.666667,0.000000,0.000000
11,2020-11-08,16:30,Premier League,Matchweek 8,Sun,Home,D,1.0,1.0,Liverpool,...,6,0,1.000000,0.333333,14.333333,6.666667,19.033333,1.000000,0.000000,0.000000
12,2020-11-21,17:30,Premier League,Matchweek 9,Sat,Away,L,0.0,2.0,Tottenham,...,5,0,1.000000,0.666667,12.000000,5.666667,20.000000,1.000000,0.000000,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12,2022-10-08,15:00,Premier League,Matchweek 10,Sat,Home,W,4.0,0.0,Southampton,...,5,1,3.333333,1.333333,17.000000,6.666667,16.800000,0.666667,0.000000,0.000000
14,2022-10-16,16:30,Premier League,Matchweek 11,Sun,Away,L,0.0,1.0,Liverpool,...,6,0,4.333333,1.000000,19.666667,8.000000,15.833333,0.333333,0.000000,0.000000
15,2022-10-22,15:00,Premier League,Matchweek 13,Sat,Home,W,3.0,1.0,Brighton,...,5,1,3.333333,1.333333,19.666667,7.666667,15.500000,0.333333,0.000000,0.000000
17,2022-10-29,12:30,Premier League,Matchweek 14,Sat,Away,W,1.0,0.0,Leicester City,...,5,1,2.333333,0.666667,15.333333,5.666667,15.766667,0.000000,0.333333,0.333333
19,2022-11-05,15:00,Premier League,Matchweek 15,Sat,Home,W,2.0,1.0,Fulham,...,5,1,1.333333,0.666667,13.333333,4.666667,18.066667,0.333333,0.333333,0.333333

In [36]:
matches_rolling = matches.groupby('team').apply(lambda x: rolling_averages(x, cols, new_cols))

In [37]:
matches_rolling = matches_rolling.droplevel('team')

In [38]:
matches_rolling.index = range(matches_rolling.shape[0])

In [39]:
matches_rolling

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,day_code,target,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling
0,2020-10-04,14:00,Premier League,Matchweek 4,Sun,Home,W,2.0,1.0,Sheffield Utd,...,6,1,2.000000,1.333333,8.000000,3.666667,14.633333,0.666667,0.000000,0.000000
1,2020-10-17,17:30,Premier League,Matchweek 5,Sat,Away,L,0.0,1.0,Manchester City,...,5,0,1.666667,1.666667,5.666667,3.666667,15.366667,0.000000,0.000000,0.000000
2,2020-10-25,19:15,Premier League,Matchweek 6,Sun,Home,L,0.0,1.0,Leicester City,...,6,0,1.000000,1.666667,7.000000,3.666667,16.566667,0.666667,0.000000,0.000000
3,2020-11-01,16:30,Premier League,Matchweek 7,Sun,Away,W,1.0,0.0,Manchester Utd,...,6,1,0.666667,1.000000,9.666667,4.000000,16.566667,1.000000,0.000000,0.000000
4,2020-11-08,19:15,Premier League,Matchweek 8,Sun,Home,L,0.0,3.0,Aston Villa,...,6,0,0.333333,0.666667,9.666667,2.666667,19.333333,1.000000,0.333333,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1698,2022-10-15,15:00,Premier League,Matchweek 11,Sat,Home,W,1.0,0.0,Nott'ham Forest,...,5,1,0.000000,2.666667,9.666667,2.333333,18.566667,1.000000,0.000000,0.000000
1699,2022-10-18,20:15,Premier League,Matchweek 12,Tue,Away,L,1.0,2.0,Crystal Palace,...,1,0,0.333333,1.666667,10.333333,2.333333,17.633333,0.333333,0.333333,0.333333
1700,2022-10-23,14:00,Premier League,Matchweek 13,Sun,Home,L,0.0,4.0,Leicester City,...,6,0,0.666667,1.666667,8.666667,2.333333,15.866667,0.666667,0.333333,0.333333
1701,2022-10-29,15:00,Premier League,Matchweek 14,Sat,Away,D,1.0,1.0,Brentford,...,5,0,0.666667,2.000000,13.000000,3.333333,16.266667,0.666667,0.333333,0.333333
1702,2022-11-05,15:00,Premier League,Matchweek 15,Sat,Home,L,2.0,3.0,Brighton,...,5,0,0.666667,2.333333,14.666667,4.333333,17.466667,0.666667,0.000000,0.000000

## Retraining

In [40]:
def make_predictions(data, predictors):
    train = data[data["date"] < '2022-01-01']
    test = data[data["date"] > '2022-01-01']
    rf.fit(train[predictors], train["target"])
    preds = rf.predict(test[predictors])
    combined = pd.DataFrame(dict(actual=test["target"], predicted=preds), index=test.index)
    error = precision_score(test["target"], preds)
    return combined, error

In [41]:
combined, error = make_predictions(matches_rolling, predictors + new_cols)

In [42]:
error

0.5202702702702703

In [43]:
combined = combined.merge(matches_rolling[['date', 'team', 'opponent', 'result']], left_index=True, right_index=True)

In [44]:
combined

,actual,predicted,date,team,opponent,result
55,0,1,2022-01-23,Arsenal,Burnley,D
56,1,0,2022-02-10,Arsenal,Wolves,W
57,1,0,2022-02-19,Arsenal,Brentford,W
58,1,1,2022-02-24,Arsenal,Wolves,W
59,1,1,2022-03-06,Arsenal,Watford,W
...,...,...,...,...,...,...
1698,1,1,2022-10-15,Wolverhampton Wanderers,Nott'ham Forest,W
1699,0,0,2022-10-18,Wolverhampton Wanderers,Crystal Palace,L
1700,0,0,2022-10-23,Wolverhampton Wanderers,Leicester City,L
1701,0,0,2022-10-29,Wolverhampton Wanderers,Brentford,D
1702,0,0,2022-11-05,Wolverhampton Wanderers,Brighton,L